.toolbar {
  display: flex;
  gap: 10px;
}

.toolbar__item {
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
}

.toolbar__item_selected {
  border-color: transparent;
  background-color: grey;
  color: white;
}